<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>게시판</title>
</head>
<body>
<nav>글 쓰기 화면</nav>
<div>
    <br/>
    <div align="center">
        <form action="/post/write" method="post">
            <div class="form-group" align="left">
                <label for="title">글 제목 : </label>
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요" width="400px">
                <br/><br/>
                <label for="writer">작성자 : </label>
                <input type="text" id="writer" name="writer" placeholder="작성자를 입력하세요" width="200px">
                <br/><br/>
                <label for="password">비밀번호 : </label>
                <input type="password" id="password" name="password" width="200px">
                <br/><br/>
                <label for="content">글 내용 : </label>
                <br/><br/>
                <textarea id="content" name="content"></textarea>
            </div>
            <div class="button-container">
                <button type="button" id="cancelButton">취소</button>
                <button type="submit">등록</button>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#cancelButton').on('click', function(e) {
            e.preventDefault(); // 기본 동작 중단
            window.location.href = '/'; // 홈으로 이동
        });
    });
</script>

</body>
</html>